<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="TestDb" connectionString="Data Source=localhost;Initial Catalog=pubs;Integrated Security=False;User Id=niceman5;Password=gustnr35;MultipleActiveResultSets=True;" providerName="Syste.Data.SqlClient"/>
  </connectionStrings>
</configuration>