<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SRC_DIR" value="C:\00.Dev\temp\SRC"/>
    <add key="DEST_DIR" value="C:\00.Dev\temp\DEST"/>
    <add key="LOG_DIR" value="C:\00.Dev\temp\LOG"/>
    <add key="DB_STRING" value="db connection string"/>
  </appSettings>
</configuration>